bucket  = "replace-with-terraform-state-bucket-name"
key     = "environments/stg/terraform.tfstate"
region  = "ap-southeast-2"
dynamodb_table  = "replace-with-terraform-locks-table-name"
encrypt = true